#f {
    transition: all 0.2s ease-in;
    opacity: .5;
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
    filter: blur(4px);

}
#f:hover {
    color: #ef7810;
    opacity: 1;
    -moz-filter: blur(0px);
    -webkit-filter: blur(0px);
    filter: blur(0px);
}

#r {
    transition: all 0.2s ease-out;
    opacity: .5;
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
    filter: blur(4px);
}
#r:hover {
    color: yellow;
    opacity: 1;
    -moz-filter: blur(0px);
    -webkit-filter: blur(0px);
    filter: blur(0px);
}
#a {
    transition: all 0.2s ease-out;
    opacity: .5;
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
    filter: blur(4px);
}
#a:hover {
    color: #4c2397;
    opacity: 1;
    -moz-filter: blur(0px);
    -webkit-filter: blur(0px);
    filter: blur(0px);

}
#n {
    transition: all 0.2s ease-out;
    opacity: .5;
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
    filter: blur(4px);
}
#n:hover {
    color: #449723;
    opacity: 1;
    -moz-filter: blur(0px);
    -webkit-filter: blur(0px);
    filter: blur(0px);
}
#k {
    transition: all 0.2s ease-out;
    opacity: .5;
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
    filter: blur(4px);
}
#k:hover {
    color: #972332;
    opacity: 1;
    -moz-filter: blur(0px);
    -webkit-filter: blur(0px);
    filter: blur(0px);
}
#l {
    transition: all 0.2s ease-out;
    opacity: .5;
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
    filter: blur(4px);
}
#l:hover {
    color: #4f9723;
    opacity: 1;
    -moz-filter: blur(0px);
    -webkit-filter: blur(0px);
    filter: blur(0px);
}
#i {
    transition: all 0.2s ease-out;
    opacity: .5;
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
    filter: blur(4px);
}
#i:hover {
    color: #5b2397;
    opacity: 1;
    -moz-filter: blur(0px);
    -webkit-filter: blur(0px);
    filter: blur(0px);
}
#dash {
    transition: all 0.2s ease-out;
    opacity: .5;
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
    filter: blur(4px);
}
#dash:hover {
    color: #239597;
    opacity: 1;
    -moz-filter: blur(0px);
    -webkit-filter: blur(0px);
    filter: blur(0px);
}
#n2 {
    transition: all 0.2s ease-out;
    opacity: .5;
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
    filter: blur(4px);
}
#n2:hover {
    color: #972395;
    opacity: 1;
    -moz-filter: blur(0px);
    -webkit-filter: blur(0px);
    filter: blur(0px);
}
