* {
    box-sizing: border-box;
  }

html {
    background-color: rgb(0, 0, 0);
}

.container {
    margin: 0;
    padding: 100px;
    padding-top: 50px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 100px;
    font-weight: 900; 
}

section {
    padding-bottom: 50px;
    display: none;
    height: 100%;
}


#project-section {
    display: none;
    font-size: 60px;

}

h2 {
    color: #880b07;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 900;
    font-size: 1em;
    opacity: 1;
    transition: all 0.2s ease-out;
    width: 50vw;
    margin-bottom: 0px;
    /* -moz-filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
    filter: blur(2.5px); */
}

#project-section:hover h2 {
    color: #972332;
    -moz-filter: blur(0px);
    -webkit-filter: blur(0px);
    filter: blur(0px);
}

li {
    color: #436d9f;
    list-style-type:circle;
    font-size: .5em;
    /* -moz-filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
    filter: blur(2.5px); */
}

#links {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 100;
    width: 80vw;
    text-align: left;
    margin-top: 10px;
    padding-left: 0px;
}
a:link {
    color: #436d9f;
    background-color: transparent;
    text-decoration: none;
    
  }
a:visited {
    color: #436d9f;
    background-color: transparent;
    text-decoration: none;
  }
a:hover {
    background-color: transparent;
    text-decoration: underline;
  }
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

#mobile-device{
    color: #436d9f;
}

img {
    cursor: pointer;
    width: 1000px;
    height: 500px;
    object-fit: cover;
    object-position: top;
    transition: all 1s ease-in-out;
    border-width: 2px;
    border-style: solid;
    animation: borderColor 112s infinite;
  }

@keyframes borderColor {
    12.5% {
      border-color: #ef7810;
    }
    25% {
      border-color: yellow;
    }
    37.5% {
      border-color: #4c2397;
    }
    50% {
      border-color: #7FFF00;
    }
    62.5% {
      border-color: #972332;
    }
    75% {
      border-color: #4f9723;
    }
    87.5% {
      border-color: #5b2397;
    }
    100% {
      border-color: #239597;
    }
  }


#project-section:hover img {
    transition: all .2s ease-in-out;
    -moz-filter: blur(0px);
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  #project-section:hover li {
    transition: all .2s ease-in-out;
    -moz-filter: blur(0px);
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  /* #project-section h2 {
    color: #972332;
    -moz-filter: blur(0px);
    -webkit-filter: blur(0px);
    filter: blur(0px);
  } */

  /* #project-section img {
    transition: all .2s ease-in-out;
    -moz-filter: blur(0px);
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  #project-section li {
    transition: all .2s ease-in-out;
    -moz-filter: blur(0px);
    -webkit-filter: blur(0px);
    filter: blur(0px);
  } */