html {
    background-color: rgb(0, 0, 0);
}

.container {
    margin: 0;
    padding: 100px;
    padding-top: 50px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 100px;
    font-weight: 900; 
}

section {
    padding-bottom: 50px;
    display: none;
    height: 100%;
}

#asterix {
    position: absolute;
    top: 35vh;
    width: 100%;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 10em;
    font-weight: 900;   
    text-align: center;
    cursor: pointer;
    transition: all 2s ease-out;
    color: white;
    animation: bgColor 5s infinite linear;
    color: #239597;
    -moz-filter: blur(0px);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: .075;
}

#asterix:hover{
    opacity: 1 ;
    color: white;
    animation-play-state: paused;
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

#project-section {
    display: none;
    font-size: 60px;    
}

h2 {
    color: #880b07;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 900;
    font-size: 1em;
    opacity: 1;
    transition: all 0.2s ease-out;
    width: 50vw;
    margin-bottom: 0px;
    -moz-filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
    filter: blur(2.5px);
}

#project-section:hover h2 {
    color: #972332;
    -moz-filter: blur(0px);
    -webkit-filter: blur(0px);
    filter: blur(0px);
}

li {
    list-style-type:circle;
    font-size: .5em;
    color: 972332;
}

#links {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 100;
    width: 80vw;
    text-align: left;
    margin-top: 10px;
    padding-left: 0px;
}
a:link {
    color: #436d9f;
    background-color: transparent;
    text-decoration: none;
    
  }
a:visited {
    color: #436d9f;
    background-color: transparent;
    text-decoration: none;
  }
a:hover {
    background-color: transparent;
    text-decoration: underline;
  }
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

img {
    cursor: pointer;
    margin-top: 10px;
    width: 1000px;
    height: 500px;
    -moz-filter: blur(14px);
    -webkit-filter: blur(14px);
    filter: blur(14px);
    object-fit: cover;

}

#birds:hover img {
    /* transform: rotate(180deg); */
    transition: all 1s ease-in-out;
    -moz-filter: blur(0px);
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }



